{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
	<div id="about">
		<h2>Sobre mí</h2>
		<p>
			-Desarrollador web autodidacta con poca experiencia, aunque en los estudios que cursé no había tanto contenido de programación
			o desarrollo web, con lo poco que vi me acabó gustando más, y comencé a buscar cursos y contenido para aprender desarrollo web
			de forma autónoma
		</p>
		<h3>Aptitudes</h3>
		<p>-Lenguajes de desarrollo que conozco: <strong>PHP, JavaScript, Python, HTML, CSS</strong></p>
		<p>-Tecnologías asociadas a lenguajes de desarrollo: <strong>Symfony, Laravel, Angular, React, Django, Flexbox, SASS, NodeJS, Bootstrap</strong></p>
		<p>-Manejo de bases de datos: <strong>SQL, MongoDB</strong></p>
		<p>-Conocimiento de Github</p>
		<h3>Estudios</h3>
		<p>-Bachillerato de ciencias</p>
		<p>-FP Grado Superior Administración de Sistemas Informáticos en Red</p>
		<p>-Cursos de desarrollo web en Udemy</p>
	</div>
{% endblock %}